.about-us-container
{
    display: flex;
    justify-content: center;
    margin-left: 10px;
	margin-right: 10px;
  
}
.about-us-content
{
    
    text-align: center;
    font-family: 'Raleway', Courier, monospace;

}
.team-link{
	margin-bottom: 30px;
}
#about .team-link a
{
    color: var(--text-color2);
    text-decoration: none;
    font-size: 1.5em;

}
#about .team-link a span
{
    background-color: rgba(255,255,255,.2);
	padding:5px;
}
#about .team-link a span i{
	margin-right: 5px;
}