.about-us-container
{
    display: flex;
    justify-content: center;
    
  
}
.about-us-content
{
    
    text-align: center;
    font-family: 'Raleway', Courier, monospace;

}
#about .team-link a
{
    color: cyan;
    text-decoration: none;
    font-size: 2em;
}

#about .team-link a span
{
    background-color: rgba(145, 145, 145, 0.3);
}

#about .team-link a span{
    transition: .5s linear;
    border-radius: 5px;
}
#about .team-link a span:hover{
    font-size: 1.3em;
    color: #ff7d1f;
    background-color: rgba(145, 145, 145, 0.3);
}