@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/* 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
} */


.wrapper{
  /* position: relative;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%,-50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  margin-top: 20px;
  
  
  
}
.contact-card{
    width: 100%;
    background: var(--foreground);/*changes*/
    align-self: center;
    max-width: 350px;
    padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(254,236,164,0.2); 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--text-color1);/*changes*/
}

.wrapper .input_field{
  margin-bottom: 10px;
  color: var(--text-color2);/*changes*/
  background: var(--foreground);/*changes*/
  outline: none;
  border: 0;
  border-bottom: 2px none var(--text-color1);/*changes*/
  box-sizing: border-box;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  /* border: 1px solid #e0e0e0; */
  width: 100%;
  padding: 10px;
  color: var(--text-color2);/*changes*/
  background: var(--foreground);/*changes*/
  outline: none;
    border-bottom: 2px solid var(--text-color1);/*changes*/
}

.wrapper textarea{
  resize: none;
  height: 80px;
  color: var(--text-color2);/*changes*/
  background: var(--foreground);/*changes*/
  outline: none;
    border-bottom: 2px solid var(--text-color1);/*changes*/
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: var(--graphic-color2);/*changes*/
  color: var(--text-color1);/*changes*/
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}